body {
  background-color: white;
  font-family: Arial, sans-serif;
  padding: 20px;
}
h1 {
  color: rgb(53, 107, 53);
}
h3 {
  text-transform: uppercase;
  margin-top: 30px;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  margin-bottom: 20px;
}
img {
  border-radius: 8px;
  margin-top: 5px;
}

#addFruitButton{
  padding: 15px;
  background-color: blueviolet;
  color: white;
  cursor: pointer;
  border: none;
}


